{% extends 'base.html' %}
<!-- above for using the base file -->
{% block content %}

<!-- form before login -->
<div class="col-md-6 offset-md-3">
    
    {% if user.is_authenticated %}
    <!-- this part only if authenticated -->
    <!-- <h1>Records...</h1> -->
    {% if records %}
    <!-- <table class="table table-dark table-striped">This works on rows the table-striped</table> -->
     <div class="table-responsive">
        <table class="table table-success table-striped-columns table-hover table-bordered">
          <caption>The database records</caption>
          <thead class="table-light"> 
            <!-- table hover does not work on thead -->
            <tr>
              <th scope ="col">#Id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
        {% for record in records %}
              <tr>
                <!-- django creates id by default so didn't really need this but works for us -->
                 <!-- this is incase the primary key is set as something else, so we need to make order -->
                <!-- <th scope="col">{{ forloop.counter }}</th> -->
                <!-- # clickable id -->
                <th scope="col"><a href="{% url 'record' record.id%}">{{ record.id }}</a></th>
                <td scope="col">{{ record }}</td >
                <td scope="col">{{ record.email }}</td >
                <td scope="col">{{ record.phone }}</td >
              </tr>
              <!-- the /tbody outside makes sure that only elements inside the loop are repeated -->
        {% endfor %}
      </tbody>
    </table>
  </div>
    {% endif %}
    {% else %}

        <!--From paginator  -->
        <!--  {% with start_index=page_obj.start_index %}  
                {% for obj in page_obj %}
                  <td>{{ start_index|add:forloop.counter0 }}</td>
                {% endfor %}
              {% endwith %} -->

          <!-- {{ record }} <br/> -->
          <!-- {{ record.email }} <br/> -->
          <!-- {{ record.phone }} <br/> -->
          <!-- <hr style="border: 1px dotted #000;"> -->
    <h3>Login</h3>

    <form method="POST", action="{% url 'home' %}">
      <!-- cross site reference token -->
        {% csrf_token %}
        <div class="mb-3">
          <!-- <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
           <input type="text" class="form-control" name="username" placeholder="Enter User Name" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Enter password" required>
        </div>
        <!-- <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <br/>
        <button type="submit" class="btn btn-secondary">Login</button>
        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
      </form>

    <!-- <h3>Daredevil born again has started</h3> -->
    <!-- <h1>Top Heading</h1> -->
      {% endif %}
</div>
<!-- everything inside here replaces the stuff in base.html block content -->
 <!-- more like overwrites the block inside the base -->

{% endblock %}